<div class="poke jumbotron">
  <center>
    <h1>Welcome to the Arena!</h1>
    <div class="jumbotron-content row">
      <div class="random-button col-sm-6">
        <p>To catch a Pokémon, first you need to make one appear. Press here to find a random Pokémon.</p>
        <center>
          <button type="button" class="btn btn-lg btn-danger" id="generate-random-poke">Random Pokémon!</button>
        </center>
      </div>
      <div class="col-sm-6">
        <center>
          <div class="random-poke empty animated fadeIn" id="show-random-poke">
            <!-- placeholder for $templatePokemonLarge -->
          </div>
        </center>
      </div>
    </div>
  <center>
</div>

<div class="row poke-ball">
  <center>
    <div class="col-sm-4 pokeball-col text-left">
      <div class="panel panel-primary" id="phil-pokeball">
        <div class="panel-image">
          <%= image_tag 'pokeball.png', width: '80', height: '80', class: 'pokeball-img' %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Phil's Pokemon</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

    <div class="col-sm-4 pokeball-col text-left">
      <div class="panel panel-success" id="pj-pokeball">
        <div class="panel-image">
          <%= image_tag 'pokeball.png', width: '80', height: '80', class: 'pokeball-img' %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">PJ's Pokemon</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

    <div class="col-sm-4 pokeball-col text-left">
      <div class="panel panel-danger" id="trav-pokeball">
        <div class="panel-image">
          <%= image_tag 'pokeball.png', width: '80', height: '80', class: 'pokeball-img' %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Travis's Pokemon</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

    <div class="col-sm-4 pokeball-col text-left">
      <div class="panel panel-info" id="sarah-pokeball">
        <div class="panel-image">
          <%= image_tag 'pokeball.png', width: '80', height: '80', class: 'pokeball-img' %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Sarah's Pokemon</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

    <div class="col-sm-4 pokeball-col text-left">
      <div class="panel panel-warning" id="jrad-pokeball">
        <div class="panel-image">
          <%= image_tag 'pokeball.png', width: '80', height: '80', class: 'pokeball-img' %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">J-Rad's Pokemon</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </center>
</div>